[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"
sphinx = "*"
pytest = "*"
pytest-cov = "*"
setuptools = "*"

[packages]
importlib-metadata = "*"
numpy = "*"
Cython = "*"
scikit-learn = "<0.22"

[requires]
python_version = "3.6"
